<VirtualHost *:80>
     ServerAdmin support@ibechuksvictor.me
     ServerName ibechuksvictor.me
     ServerAlias www.ibechuksvictor.me

     DocumentRoot /var/www/html/ibechuksvictor

     <Directory /var/www/html/ibechuksvictor>
         Options Indexes FollowSymLinks
         AllowOverride All
         Require all granted
     </Directory>

     ErrorLog ${APACHE_LOG_DIR}/error.log 
     CustomLog ${APACHE_LOG_DIR}/access.log combined 
 </VirtualHost>